[Desktop Entry]
Name=Taonga
Type=Application
Version=1.0
Comment=Start the Taonga virtual machine.
Path=/home/jon.chick/srv/vm/Taonga
Exec=/home/jon.chick/srv/vm/Taonga/start-vm
Icon=/home/jon.chick/srv/vm/Taonga/workstation.png
Terminal=false
Categories=Development
